*.pyc
*.pyo
__pycache__
*.so
*.o

*.egg
*.egg-info
.*cache*/
*venv*/

mcrforest/*.c
mcrforest/*.so
/mcrforest/__pycache__/
/build/

.vscode/settings.json

test.py
test2.py
test_vanja.py
test_roberto.py
test_*.py
compas_X.csv
compas_y.csv
compas_train_indices.csv

.vscode
.ipynb_checkpoints

*.csv
*.csv*
test_*
Wen.py