*.pyc
*.pyo
__pycache__
*.so
*.o

*.egg
*.egg-info
.*cache*/
*venv*/

mcrforest/*.c
mcrforest/*.so
/mcrforest/__pycache__/
/build/

.vscode/settings.json
.vscode

test.py
test2.py
test_vanja.py
test_gavin.py
test_roberto.py
test_*
*.csv
Wen.py